<div class="row d-flex justify-content-center">
  <div class="col-8">
    <div class="card border-primary text-center bg-light p-3">
      <div class="card-top my-5">
        <h2 class="my-4" style="color:black; font-size: 3em;">URL Shortener</h2>
        <span style="color: Tomato;">
          <i class="fas fa-link fa-7x my-4"></i>
        </span>
      </div>
      <div class="card-body">
        <h4 class="text-left" style="color:black;">Success! Please use this link:</h4>
        <a href="{{ result }}" id="result" value="{{ result }}" class="text-left p-2"
          style="display: block; font-size: 1.2em; background-color:#f0f0f5; color: black;">{{ result }}</a>
        <button class="btn btn-primary mt-3" name="copy-btn" onclick="copyFunc()" style="width:110px;">Copy</button>
      </div>
    </div>
  </div>
</div>

{{!-- copy function --}}
<script>
  function copyFunc() {
    const url = document.querySelector('#result').innerText
    navigator.permissions.query({ name: "clipboard-write" }).then(result => {
      if (result.state == "granted" || result.state == "prompt") {
        navigator.clipboard.writeText(url).then(function () {
          alert('copied')
        }, function () {
          alert('error')
        });
      }
    });
  }
</script>